header.header.page__header 
    .header__menu
        include ../logo/logo
        nav.header__nav
            ul.block.header__menu
                li.header__menu-item 
                    a(href="#").link Объекты
                li.header__menu-item
                    a(href="#").link Компания  
                li.header__menu-item        
                    a(href="#").link Как купить
                li.header__menu-item
                    a(href="#").link Агентам 
                li.header__menu-item
                    a(href="#").link Регионам
                li.header__menu-item
                    a(href="#").link Акции
                li.header__menu-item
                    a(href="#").link Контакты   
        .header__mobile-menu_click 
        nav.header__mobile-nav
            ul.header__mobile-nav-list
                li.header__mobile-menu-item 
                    a.link_mobile(href="#") Объекты
                li.header__mobile-menu-item
                    a.link_mobile(href="#") Компания  
                li.header__mobile-menu-item        
                    a.link_mobile(href="#") Как купить
                li.header__mobile-menu-item
                    a.link_mobile(href="#") Агентам 
                li.header__mobile-menu-item
                    a.link_mobile(href="#") Регионам
                li.header__mobile-menu-item
                    a.link_mobile(href="#") Акции
                li.header__mobile-menu-item
                    a.link_mobile(href="#") Контакты 
            a(href="tel:8888888898").link_mobile.header__mobile-menu-tel 
                .tel-number 8 888 88 88 98 
                .tel-text Звони скорее!    

    a(href="tel:8888888898").link.header__menu-tel 
        .tel-number 8 888 88 88 98 
        .tel-text Звони скорее!

