.products
    .filter.filter_theme_products
        span Сортировать по:
        .checkbox.checkbox_theme_filter
            input(type="checkbox" id="checkbox__input-filter-price" class="checkbox__input checkbox__input_theme_filter filter__input" name="filter")
            label.checkbox__label.checkbox__label_theme_filter(for="checkbox__input-filter-price" class="checkbox__label-filter-price") Цене
        .checkbox.checkbox_theme_filter
            input(type="checkbox" id="checkbox__input-filter-room" class="checkbox__input checkbox__input_theme_filter filter__input" name="filter")
            label.checkbox__label.checkbox__label_theme_filter(for="checkbox__input-filter-room" class="checkbox__label-filter-room") Комнатам
    .products__list                                    
    .products__button
    
    