.up-button {
    display: none;
    position: fixed;
    top: 75%;
    right: 40px;
    z-index: 10;
    cursor: pointer;
    background-image: url('./components/up-button/up-button.svg');
    transition: opacity 0.3s;
    opacity: 1;
    @media screen and (max-width: 600px) {
        top: 50%;
        right: 10px;
    }
    &:hover {
        opacity: .7;
    }
}